<html>
    <head>
        <h1>
            Hello WELCOME to my First deployment of Boston House Prediction Project
        </h1>
    </head>
    <body>
        <form  action="/prediction", method="post">
            <label> CRIM   : </label> 
            <input type="number" name="crim" placeholder=" Enter The Per Capita Income"> </input> <br> </br> 
            <label> ZN   : </label> 
            <input type="number" name="zn" placeholder=" Enter residential land zoned"> </input> <br> </br> 
            <label> INDUS       : </label> 
            <input type="number" name="indus" placeholder=" Enter The non-retail business acres per town"> </input> <br> </br> 
            <label> CHAS        : </label> 
            <input type="number" name="chas" placeholder=" Enter The Charles River "> </input> <br> </br> 
            <label> NOX         : </label> 
            <input type="number" name="nox" placeholder=" Enter The nitric oxides concentration"> </input> <br> </br> 
            <label> RM          : </label> 
            <input type="number" name="rm" placeholder=" Enter The average number of rooms per dwelling"> </input> <br> </br> 
            <label> AGE         : </label> 
            <input type="number" name="age" placeholder=" Enter The proportion of owner-occupied units built prior to 1940"> </input> <br> </br> 
            <label> DIS         : </label> 
            <input type="number" name="dis" placeholder=" Enter The weighted distances to five Boston employment centres"> </input> <br> </br> 
            <label> RAD         : </label> 
            <input type="number" name="rad" placeholder=" Enter The index of accessibility to radial highways"> </input> <br> </br> 
            <label> TAX         : </label> 
            <input type="number" name="tax" placeholder=" Enter The full-value property-tax rate per $10,000"> </input> <br> </br> 
            <label> PTRATIO     : </label> 
            <input type="number" name="ptratio" placeholder=" Enter The pupil-teacher ratio by town"> </input> <br> </br> 
            <label> B   : </label> 
            <input type="number" name="b" placeholder=" Enter The 1000(Bk - 0.63)^2 where Bk is the proportion of black people by town"> </input> <br> </br> 
            <label> LSTAT       : </label> 
            <input type="number" name="lstat" placeholder=" Enter The % lower status of the population"> </input> <br> </br> 
            <button type="submit" >Click Here For Prediction</button> <br> </br> 
        </form>
    </body>
</html>